.resultado-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}
.resultado-utils{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.resultado-botao-adicionar{
  display: flex;
  background-color: rgba(223, 182, 121, 0.5);
  height: 32px;
  align-items: center;
  border: 2px solid #995C02;
  border-radius: 20px;
  padding: 0 8px;
  gap: 8px;
}

.resultado-lista-container{

}


.resultado-cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  color: #333;
  font-weight: bold;
  padding: 10px;

  height: 24px;
  background-color: rgba(223, 182, 121, 1);
  border: 1px solid #995C02;
  border-radius: 70px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  position: sticky;
  top: 0;
}

.livro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  height: 32px;
  padding: 2px;
  color: #333;
  border-radius: 70px;
  white-space: nowrap;
}

.livro-matricula,
.livro-nome,
.livro-categoria,
.livro-data,
.livro-enacional,
.livro-botao-editar,
.livro-autor{
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.livro-opcoes {
  display: flex;
  gap: 10px;
  padding-left: -10px;
  margin-right: 15px;
}
.livro-botao-opcoes{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.botao-vermais-container{
  width: 100%;
  display: flex;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}
.livro-botao-opcoes img{
  width: 24px;
  height: 24px;
  opacity: 0.8;
}

.botaoVerMais{
  color: black;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-right: 10px;
  cursor: pointer;
}

.livro-faltante{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}