.resultado-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}
.resultado-utils{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.resultado-botao-adicionar{
  display: flex;
  background-color: rgba(223, 182, 121, 0.5);
  height: 32px;
  align-items: center;
  border: 2px solid #995C02;
  border-radius: 20px;
  padding: 0 8px;
  gap: 8px;
}
.resultado-cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 32px;
  background-color: rgba(223, 182, 121, 0.5);
  border: 1px solid #995C02;
  border-radius: 70px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;
}
.resultado-cabecalho p{
  display: flex;
  width: 100px;
  justify-content: center;
}


.resultado-lista{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.livro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 70px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  white-space: nowrap;
  margin-top: 20px;
  padding-left: 15px;
}

.livro-matricula,
.livro-nome,
.livro-categoria,
.livro-data,
.livro-enacional,
.livro-botao-editar,
.livro-autor{
  display: flex;
  width: 102px;
  align-items: center;
  justify-content: center;

}
.livro-opcoes {
  display: flex;
  gap: 20px;
}
.livro-botao-opcoes{
  border: none;
  background-color: transparent;
  padding: 0;
}
.botao-vermais-container{
  width: 100%;
  /* background-color: red; */
  display: flex;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}
.botaoVerMais{
  color: black;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-right: 10px;
  cursor: pointer;
}