#root {
  margin: 0 auto;
  text-align: center;
}
.biblioteca-container{
  display: flex;
  flex-direction: column;
}
.biblioteca-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}
.biblioteca-logo{
  display: flex;
  align-items: center;
  font-size: 32px;
  color: black;
}
.form{
  display: flex;
  flex-direction: row;
  height: 40px;
}

