#root {
  margin: 0 auto;
  text-align: center;
}
.biblioteca-container{
  display: flex;
  flex-direction: column;
}
.biblioteca-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: row;
  height: 40px;
}

