.adicionar-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.adicionar-container {
  width: 100%;
  max-width: 600px;
  background-color: #E2CDAD;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.adicionar-container h1 {
  font-size: 32px;
  margin: 10px auto;
  color: #995C02;
}

.adicionar-header{
  display: flex;
  justify-content: space-between;
}

.livro-id{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.adicionar-formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adicionar-formulario label {
  display: flex;
  color: black;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

.adicionar-formulario input,
.adicionar-formulario select,
.adicionar-formulario button {
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #995C02;
  border-radius: 70px;
}

.adicionar-formulario select {
  border-radius: 70px;
  width: 100%;
}

.adicionar-botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.adicionar-botoes button {
  background-color: rgba(153, 92, 2,0.8);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.adicionar-botoes button:hover {
  background-color: rgba(153, 92, 2,1);
}